# HTTP server port for the Go Matchmaking Service
HTTP_PORT=8080

# PostgreSQL connection string for the Matchmaking Service database
DATABASE_URL=postgres://postgres:admin@localhost:5433/pusha_matchmaking_db?sslmode=disable

# gRPC address of the Python Player Service
PLAYER_SERVICE_GRPC_ADDR=localhost:50051